.countries-container {
    width: 100%;
    max-width: 1300px;
    margin: 60px auto;
}

.country-search {
    
}

.search-container {
    display: flex;
    align-items: center;
}

.search-button {
    padding: 15px 24px !important;
}
