.app-header {
    font-size: 24px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;

    @media (max-width: 1600px) {
        width: 1400px;
    }

    @media (max-width: 1400px) {
        width: 1200px;
    }

    @media (max-width: 1200px) {
        width: 1100px;
    }

    .header-content-wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .header-content {
        display: flex;
    }

    .title {
        font-size: 30px;
        line-height: 36px;
    }

    .menu-gutter {
        padding: 0 !important;
    }

    .home-icon {
        padding: 0 !important;

        &:hover {
            background-color: black !important;
        }

        svg {
            border-bottom: 5px solid transparent;

            &:hover {
                border-bottom-color: #ff3d00;
            }
        }
    }
}
