.home-app-header {
    display: flex;
    flex: 1 0 40%;
    flex-direction: column;
    background-color: black;

    .title-container {
        flex: 1 1 auto;
        align-self: center;
        display: grid;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 20px;
        grid-template-areas:
            'title'
            'card';
    }

    .social-icon {
        height: 32px;
        width: 32px;
    }

    .card-container {
        align-self: center;
        justify-self: center;
    }

    .author-info {
        display: grid;
        grid-template-rows: 50% 50%;
        text-align: center;
        height: 100%;
        grid-template-areas:
            'author'
            'links';

        .author {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-area: author;

            span + svg {
                margin-left: 10px;
            }
        }

        .links {
            align-items: center;
            grid-area: links;
            display: flex;
            justify-content: center;

            a + a {
                margin-left: 10px;
            }
        }
    }

    .card-container,
    .contact-card,
    .show-information {
        width: 300px;
        height: 100px;

        @media (max-width: 800px) {
            width: 250px;
        }
    }

    .contact-card {
        grid-area: card;
        background-color: white;
        box-shadow: 0px 0px 1px 3px #e47a15;
    }

    .title {
        align-self: center;
        justify-self: center;
        grid-area: title;
        font-size: 40px;
        color: white;
        font-weight: bold;

        @media (max-width: 1200px) {
            font-size: 32px;
        }

        @media (max-width: 1100px) {
            font-size: 28px;
        }

        @media (max-width: 900px) {
            font-size: 24px;
        }
    }
}
