.country-search {
    margin: 8px 0 !important;

    + .search-button {
        margin-left: 8px;
    }
}

.search-container {
    display: flex;
    align-items: center;
}

.search-button {
    padding: 15px 24px !important;
}

.country-list-item {
    cursor: pointer;
}

.country-details {
    display: flex;
    flex-direction: column;
}

.details-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-bottom: 10px;
}
