.card-content {
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    max-height: 150px;
    overflow-y: auto;
}

.card-header {
    background-color: black;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.white-text {
    color: white !important;
}

.list-item-text {
    font-size: 16px !important;

    span {
        color: white;
        font-style: italic;
        font-weight: bold;
    }
}

.read-more-link {
    align-self: center;
}
