.countries-container {
  width: 100%;
  max-width: 1300px;
  margin: 60px auto;

  @media (max-width: 1400px) {
    max-width: 1200px;
  }

  @media (max-width: 1300px) {
    max-width: 1100px;
  }
}

.country-search {
  margin: 8px 0 !important;

  + .search-button {
    margin-left: 8px;
  }
}

.search-container {
  display: flex;
  align-items: center;
}

.search-button {
  padding: 15px 24px !important;
}

.country-list-item {
  cursor: pointer;
}
