.App {
    display: flex;
    height: 100%;
}

.App-logo {
    height: 40px;
    position: relative;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.app-content {
    width: 100%;
    margin: auto;
    height: 100%;
}

html,
body,
div#root {
    height: 100%;
    font-display: auto;
}
